* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/inleiding-programmeren-eindopdracht/images/buiten-achtergrond.jpeg");
    /* https://pin#it/1XP1GDCdz */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}

/* Audio */
#audioEnButton button {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
    margin: 1em 0em 0em 1em;
    border-radius: 1.5em;
    padding: 0.5em 1em 0.5em 1em;
    border: none;
    background-color: rgb(255, 213, 0);
}

#audioEnButton button:hover {
    outline: 0.25em solid rgb(0, 85, 152);
    outline-offset: -0.25em;
}


/* Nijntje Tamagochi (tekst) */
h1 {
    font-size: 2.5em;
    text-align: center;
    margin: 0.5em;
}

/* Klik op een knop om te beginnen */
#beginnen {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 2em;
}

/* Slaap, honger en health bar + Nijntje tamagotchi afbeelding + outfits */
#emoties-nijntje-kleding {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Slaap, honger en health bar */
#emoties {
    font-size: 1.5em;
    margin: 1em;
    /* font-weight: bold; */
}

#slaap-progressie {
    margin: 0.25em;
}

#honger-progressie {
    margin: 0.25em;
}

#plezier-progressie {
    margin: 0.25em;
}

/* Nijntje tamagotchi afbeelding */
#nijntje-blauw {
    text-align: center;
}

#imgNijntjeBlauw {
    width: 15em;
    height: 25em;
}

/* Outfits */
#kleding-knoppen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

ul {
    list-style-type: none;
}

#kleding-knoppen li {
    /* flex-basis: 5em; */
    margin: 1em;
}

/* Outfits knoppen */
#kleding-knoppen li button {
    /* object-fit: cover; */
    width: 8em;
    height: 8em;
    vertical-align: middle;
    background-color: transparent;
    border: none;
    border-radius: .25em;
    /* cursor: pointer; */
}

#kleding-knoppen li button img {
    /* object-fit: fill; */
    width: 5em;
    height: 8em;
}

/* Slapen, eten en spelen knoppen */
#container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#knoppen {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

#knoppen button {
    /* width: 8em;
    height: 8em;
    vertical-align: middle; */
    background-color: transparent;
    border: none;
    /* cursor: pointer; */
    border-radius: 1.5em;
    overflow: hidden;
}

#knoppen button:hover {
    outline: 0.5em solid rgb(0, 85, 152);
    outline-offset: -0.5em;
}

#knoppen button img {
    width: 8em;
    height: 8em;
    /* border-radius: .25em; */
}

#knop-slapen {
    margin: 2em;
}

#knop-eten {
    margin: 2em;
}

#knop-spelen {
    margin: 2em;
}

#textSlapen {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

#textEten {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

#textSpelen {
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

button:enabled:hover {
    cursor: pointer;
}

button:disabled {
    background-color: #000000;
    color: #000000;
    cursor: not-allowed;
    opacity: 0.3;
}